{% extends "base.html" %}

{% block siteTitle %}
    Control de Llamadas - Importación LAMA
{% endblock %}

{% block pageTitle %}
    Importación de archivo LAMA
{% endblock %}

{% block pageContent %}
    <div class="section">
        <div class="row">
            <form class="col l12">
                {% csrf_token %}
                <div class="file-field input-field">
                    <div class="btn">
                        <span>LAMA</span>
                        {{ form.lama }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" type="text">
                    </div>
                </div>
                <input class="btn" type="submit" value="Importar"/>
            </form>
        </div>
    </div>
{% endblock %}