{% extends "base.html" %}

{% block siteTitle %}
    Control de Llamadas - Importacion LAMA exitosa
{% endblock %}

{% block pageTitle %}
    Importación de archivo LAMA exitosa
{% endblock %}

{% block pageContent %}
    <h2>COMPLETADA IMPORTACION DE LAMA</h2>

    <h3>REGISTROS SALTADOS: {{ registros_saltados }}</h3>

    <h3>REGISTROS DUPLICADOS: {{ registros_duplicados }}</h3>

    <h3>REGISTROS INSERTADOS: {{ registros_insertados }}</h3>

    <h3>DETALLE REG DUPLICADOS:</h3>
    {% for detalle_duplicado in detalle_duplicados %}
        <p>{{ detalle_duplicado }}</p>
    {% endfor %}
{% endblock %}
